$primary-color: #ffa84c;
$error-color: #ff584c;
$warning-color: #ffc904;
$success-color: #6BC785;
$shadow-color: hsla(0, 0%, 30%, 0.05);
$background-color: #fff;
$background-secondary-color: #f8f8f8;
$border-color: #ececec;
$subtext-color: rgba(#7f7f7f, 0.75);
$font-color: #555;
$shadow-one: 0 12px 20px hsla(0, 0%, 30%, 0.05);
$shadow-two: 0 24px 40px hsla(0, 0%, 30%, 0.05);